<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
  </head>
 <body style='background-image:url("static/blackandwhite.jpg"); background-size: cover; '>
     <div style='background-color:white; padding:50px; border-style:solid; border-color:red; margin-right:50%;'>

       <div style='font-size:25px;'>{{ team }}'s Advance Scouting Dashboard</div>
       <br><br>
       <a href='/hitting'>Hitting</a> <br><br>
       <a href='/pitching'>Pitching</a> <br><br>
       <a href='/fielding'>Team Fielding</a> <br><br>
       <a href='/roster'>Roster</a> <br><br>
       <a href='/schedule'>Schedule</a> <br><br>
       <a href='/plays'>Plays</a> <br><br>
       <a href='/'>Back to Home</a> <br><br>
     <!-- <a href='/scores'>Scores</a> -->
    </div>


   </body>
</html>
